<div id="CustomerLoginForm">
    {% section 'page-header--login' %}
    {% section 'main-page--login' %}
</div>

<div id="RecoverPasswordForm" class="hide">
    <div class="page-header page-header--account-form">
        <div class="page-header__content">
            <h1 class="page-header__title">{{ 'customer.recover_password.title' | t }}</h1>
            <div class="page-header__subtitle">{{ 'customer.recover_password.subtext' | t }}</div>
        </div>
    </div>
    <div class="page-section page-section--gap page-section--reset-password">
        {% form 'recover_customer_password', class:'form form--login' %}
            <div class="form__wrapper form__wrapper--default">
                {% if form.posted_successfully? %}
                    <span class="hide reset-password-success"></span>
                {% else %}
                    {% if form.errors != blank %}
                        <div class="form__error-message">
                            {% for field in form.errors %}
                                <div class="form__error">
                                    {{ form.errors.messages[field] }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="form__field form__field--input">
                        <label for="RecoverEmail" class="form__label">
                            {{ 'customer.recover_password.email' | t }}
                        </label>
                        <input type="email"
                             name="email"
                             class="form__control form__input"
                             id="RecoverEmail"
                             placeholder="{{ 'customer.recover_password.email' | t }}"
                             spellcheck="false"
                             autocomplete="off"
                             autocapitalize="off" required>
                        <label for="RecoverEmail" generated="true" class="error form__error"></label>
                    </div>

                    <div class='form__field'>
                        <button type="submit" class="button button--primary form__button form__button--full">
                            {{ 'customer.recover_password.submit' | t }}
                        </button>
                    </div>

                    <div class="form__footer form__footer--default">
                        <a href='#' id="HideRecoverPasswordLink">
                            {{ 'customer.recover_password.cancel' | t }}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endform %}
    </div>
</div>

{% if shop.checkout.guest_login %}
    <div class="page-section">
        <h2>{{ 'customer.login.guest_title' | t }}</h2>

        {% form 'guest_login' %}
            <input type="submit" class="button button--primary" value="{{ 'customer.login.guest_continue' | t }}">
        {% endform %}
    </div>
{% endif %}
